a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
  border-bottom: 1px solid green;
}

li {
  list-style: none;
}

.logo {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.header_links {
  display: flex;
  width: 650px;
  padding-top: 25px;
  justify-content: space-around;
}

.not-selected {
  display: flex;
  text-decoration: none;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  height: 30px;
  width: 100px;
  border-radius: 15px;
  border: #d05d1a double 3px;
  background-color: rgb(37, 119, 149);
}

.selected {
  display: flex;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  height: 30px;
  width: 100px;
  border-radius: 15px;
  border: #d05d1a double 3px;
  background-color: rgb(97, 87, 210);
}
